{
  "openapi": "3.0.0",
  "info": {
    "title": "PAY. Global Management System API's",
    "description": "A restful journey to your payments.",
    "termsOfService": "https://www.pay.nl/en/terms-conditions",
    "contact": {
      "email": "support@pay.nl"
    },
    "version": "v2.0"
  },
  "servers": [
    {
      "url": "https://rest.pay.nl/v2",
      "description": "PAY. API server"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate",
        "description": "Use your username and password from my.pay.nl to exchange your credentials for a bearer token. You will receive an access token and refresh token. Use the access token to make API calls and use the refresh token to refresh both of the tokens (See Authenticate:Refresh). The access token is valid for 1 hour, the refresh token is valid for 2 hours",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful token creation",
                    "value": {
                      "tokenType": "Bearer",
                      "accessToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1aWQiOiJBLTE1ODQtOTMxNyIsImlhdCI6MTY2OTEyOTg0OSwiZXhwIjoxNjY5MTM3MDQ5fQ.7g61s7PN58Ope8t70ysnvOqbcOjGDFzyWanZeFqx8cQ",
                      "refreshToken": "5fe027d96cded0c92b2337d4068a336dc41b956683a501c95d4896d9cb9f1103dc0b6d3388f17c1ef6a578ed9aa3c9d1c133355e9d9a4fa5dbb53d22e0aba0dc",
                      "accessTokenExpiresAt": "2022-11-22T16:10:49+01:00",
                      "refreshTokenExpiresAt": "2022-11-22T17:10:49+01:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "415": {
            "description": "Unsupported media. The supplied content type in the content-type parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/authenticationtokens/{authenticationTokenCode}": {
      "get": {
        "tags": [
          "AuthenticationTokens"
        ],
        "summary": "AuthenticationTokens:Get",
        "description": "Get the details of a specific authentication token. Note you need to have access to the merchant if the authentication token is not available under your own merchant registration",
        "parameters": [
          {
            "name": "authenticationTokenCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AT-1234-4321"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "secret",
                    "name",
                    "merchant",
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "deletedAt",
                    "deletedBy"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AT-1234-4321"
                    },
                    "secret": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "merchant": {
                      "required": [
                        "code",
                        "name",
                        "status"
                      ],
                      "properties": {
                        "code": {
                          "description": "The merchant id of your company starting with M.",
                          "type": "string",
                          "example": "M-1234-4321"
                        },
                        "name": {
                          "description": "The name of your merchant.",
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 2,
                          "example": "CompanyName"
                        },
                        "status": {
                          "description": "Merchant state",
                          "type": "string",
                          "example": "ACTIVE"
                        }
                      },
                      "type": "object",
                      "title": "MerchantMinimal",
                      "x-readme-ref-name": "MerchantMinimal"
                    },
                    "createdAt": {
                      "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": false
                    },
                    "createdBy": {
                      "description": "The reference to an account or token whom created the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": false
                    },
                    "modifiedAt": {
                      "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "modifiedBy": {
                      "description": "The reference to an account or token whom modified the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    },
                    "deletedAt": {
                      "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "deletedBy": {
                      "description": "The reference to an account or token whom deleted the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    }
                  },
                  "type": "object",
                  "title": "AuthenticationToken",
                  "x-readme-ref-name": "AuthenticationToken"
                },
                "examples": {
                  "success": {
                    "summary": "Specific authentication token",
                    "value": {
                      "code": "AT-1234-1234",
                      "secret": "21349ebda24393453sdfdfad",
                      "name": "token1",
                      "merchant": {
                        "code": "M-1234-4321",
                        "status": "INACTIVE",
                        "name": "CompanyName"
                      },
                      "createdAt": "2021-09-04T12:14:01+02:00",
                      "createdBy": "A-1234-4321",
                      "modifiedAt": null,
                      "modifiedBy": null,
                      "deletedAt": null,
                      "deletedBy": null,
                      "_links": [
                        {
                          "url": "/authenticationtokens/AT-1234-1234",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Bad Request",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "merchantCode: Invalid ID",
                      "violations": [
                        {
                          "propertyPath": "merchantCode",
                          "message": "Invalid ID",
                          "code": "PAY-2820"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "422": {
            "description": "Unprocessable entity, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Unprocessable",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "Unable to complete request",
                      "violations": [
                        {
                          "propertyPath": null,
                          "message": "Unable to complete request",
                          "code": "PAY-3000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AuthenticationTokens"
        ],
        "summary": "AuthenticationTokens:Delete",
        "description": "Deletes an authentication token. Note you need to have access to the merchant if the authentication token is not available under your own merchant registration",
        "parameters": [
          {
            "name": "authenticationTokenCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AT-1234-4321"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Bad Request",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "authenticationTokenCode: {}",
                      "violations": [
                        {
                          "propertyPath": "authenticationTokenCode",
                          "message": "{}",
                          "code": "PAY-404"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/authenticationtokens": {
      "get": {
        "tags": [
          "AuthenticationTokens"
        ],
        "summary": "\tAuthenticationTokens:Browse",
        "description": "Get all authentication tokens. If you do not supply a merchantCode we return the authentication tokens that are available under your own merchant registration. If you supply a merchantCode you need to have access to that merchant",
        "parameters": [
          {
            "name": "merchant",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The merchant id of your company starting with M.",
              "type": "string",
              "example": "M-1234-4321"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "authenticationTokens": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "secret",
                          "name",
                          "merchant",
                          "createdAt",
                          "createdBy",
                          "modifiedAt",
                          "modifiedBy",
                          "deletedAt",
                          "deletedBy"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "AT-1234-4321"
                          },
                          "secret": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "merchant": {
                            "required": [
                              "code",
                              "name",
                              "status"
                            ],
                            "properties": {
                              "code": {
                                "description": "The merchant id of your company starting with M.",
                                "type": "string",
                                "example": "M-1234-4321"
                              },
                              "name": {
                                "description": "The name of your merchant.",
                                "type": "string",
                                "maxLength": 128,
                                "minLength": 2,
                                "example": "CompanyName"
                              },
                              "status": {
                                "description": "Merchant state",
                                "type": "string",
                                "example": "ACTIVE"
                              }
                            },
                            "type": "object",
                            "title": "MerchantMinimal",
                            "x-readme-ref-name": "MerchantMinimal"
                          },
                          "createdAt": {
                            "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": false
                          },
                          "createdBy": {
                            "description": "The reference to an account or token whom created the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": false
                          },
                          "modifiedAt": {
                            "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "modifiedBy": {
                            "description": "The reference to an account or token whom modified the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": true
                          },
                          "deletedAt": {
                            "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "deletedBy": {
                            "description": "The reference to an account or token whom deleted the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": true
                          }
                        },
                        "type": "object",
                        "title": "AuthenticationToken",
                        "x-readme-ref-name": "AuthenticationToken"
                      }
                    },
                    "_links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "href",
                          "rel",
                          "type"
                        ],
                        "properties": {
                          "href": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "rel": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "type": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          }
                        },
                        "type": "object",
                        "title": "Link",
                        "x-readme-ref-name": "Link"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "success": {
                    "summary": "All authentication tokens",
                    "value": {
                      "total": 1,
                      "authenticationTokens": [
                        {
                          "code": "AT-1234-1234",
                          "secret": "21349ebda24393453sdfdfad",
                          "name": "token1",
                          "merchant": {
                            "code": "M-1234-4321",
                            "status": "INACTIVE",
                            "name": "CompanyName"
                          },
                          "createdAt": "2021-09-04T12:14:01+02:00",
                          "createdBy": "A-1234-4321",
                          "modifiedAt": null,
                          "modifiedBy": null,
                          "deletedAt": null,
                          "deletedBy": null,
                          "_links": [
                            {
                              "url": "/authenticationTokens/AT-1234-1234",
                              "rel": "self",
                              "type": "GET"
                            }
                          ]
                        }
                      ],
                      "_links": [
                        {
                          "url": "/authenticationTokens/",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Bad Request",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "merchant: Invalid ID",
                      "violations": [
                        {
                          "propertyPath": "merchant",
                          "message": "Invalid ID",
                          "code": "PAY-2820"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "422": {
            "description": "Unprocessable entity, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Unprocessable",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "Unable to complete request",
                      "violations": [
                        {
                          "propertyPath": null,
                          "message": "Unable to complete request",
                          "code": "PAY-3000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "AuthenticationTokens"
        ],
        "summary": "AuthenticationTokens:Create",
        "description": "Creates a new authentication token under a merchant. You can also specify which authorisation groups needs to be linked to the token. You can also supply a merchantCode. If a merchantCode is supplied then you need to have access to that merchant. You need to authenticate with an AT-code as username and a token as password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "merchantCode",
                  "authenticationToken"
                ],
                "properties": {
                  "merchantCode": {
                    "description": "The merchant id of your company starting with M.",
                    "type": "string",
                    "example": "M-1234-4321"
                  },
                  "authenticationToken": {
                    "required": [
                      "description",
                      "authorisation",
                      "authorisationGroups"
                    ],
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "Default token"
                      },
                      "authorisation": {
                        "description": "Specify which kind of authorisation is applicable for the token.\n\nall: all merchant rights\nspecified: specify which authorisation groups should be enabled from the token. At least one authorisation group (in the authorisationGroups array) is mandatory",
                        "type": "string",
                        "enum": [
                          "all",
                          "specified"
                        ]
                      },
                      "authorisationGroups": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "AG-1234-4321"
                        }
                      },
                      "ipFilter": {
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DENY_FROM_ALL"
                            ]
                          },
                          "exceptionList": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "213.126.82.230"
                            }
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "examples": {
                "authenticationToken": {
                  "summary": "Token",
                  "value": {
                    "merchantCode": "M-1234-4321",
                    "authenticationToken": {
                      "description": "token1",
                      "authorisation": "specified",
                      "authorisationGroups": [
                        "AG-1234-4321"
                      ],
                      "ipfilter": {
                        "type": "DENY_FROM_ALL",
                        "exceptionList": [
                          "192.168.1.2",
                          "192.168.1.3"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "secret",
                    "name",
                    "merchant",
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "deletedAt",
                    "deletedBy"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AT-1234-4321"
                    },
                    "secret": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "merchant": {
                      "required": [
                        "code",
                        "name",
                        "status"
                      ],
                      "properties": {
                        "code": {
                          "description": "The merchant id of your company starting with M.",
                          "type": "string",
                          "example": "M-1234-4321"
                        },
                        "name": {
                          "description": "The name of your merchant.",
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 2,
                          "example": "CompanyName"
                        },
                        "status": {
                          "description": "Merchant state",
                          "type": "string",
                          "example": "ACTIVE"
                        }
                      },
                      "type": "object",
                      "title": "MerchantMinimal",
                      "x-readme-ref-name": "MerchantMinimal"
                    },
                    "createdAt": {
                      "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": false
                    },
                    "createdBy": {
                      "description": "The reference to an account or token whom created the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": false
                    },
                    "modifiedAt": {
                      "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "modifiedBy": {
                      "description": "The reference to an account or token whom modified the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    },
                    "deletedAt": {
                      "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "deletedBy": {
                      "description": "The reference to an account or token whom deleted the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    }
                  },
                  "type": "object",
                  "title": "AuthenticationToken",
                  "x-readme-ref-name": "AuthenticationToken"
                },
                "examples": {
                  "success": {
                    "summary": "Created authentication token",
                    "value": {
                      "code": "AT-1234-1234",
                      "secret": "21349ebda24393453sdfdfad",
                      "name": "token1",
                      "merchant": {
                        "code": "M-1234-4321",
                        "status": "INACTIVE",
                        "name": "CompanyName"
                      },
                      "createdAt": "2021-09-04T12:14:01+02:00",
                      "createdBy": "A-XXXX-XXXX",
                      "modifiedAt": null,
                      "modifiedBy": null,
                      "deletedAt": null,
                      "deletedBy": null,
                      "_links": [
                        {
                          "url": "/authenticationtokens/AT-1234-1234",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Bad Request",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "merchantCode: Invalid ID",
                      "violations": [
                        {
                          "propertyPath": "merchantCode",
                          "message": "Invalid ID",
                          "code": "PAY-2820"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "415": {
            "description": "Unsupported media. The supplied content type in the content-type parameter in the header is not supported"
          },
          "422": {
            "description": "Unprocessable entity, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Unprocessable",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "Unable to complete request",
                      "violations": [
                        {
                          "propertyPath": null,
                          "message": "Unable to complete request",
                          "code": "PAY-3000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/authenticationtokens/{authenticationTokenCode}/undelete": {
      "post": {
        "tags": [
          "AuthenticationTokens"
        ],
        "summary": "AuthenticationTokens:Undelete",
        "description": "Undelete an authentication token that was recently deleted. This can only be done within a 15 minute time window",
        "parameters": [
          {
            "name": "authenticationTokenCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AT-1234-4321"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "code",
                    "secret",
                    "name",
                    "merchant",
                    "createdAt",
                    "createdBy",
                    "modifiedAt",
                    "modifiedBy",
                    "deletedAt",
                    "deletedBy"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AT-1234-4321"
                    },
                    "secret": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "merchant": {
                      "required": [
                        "code",
                        "name",
                        "status"
                      ],
                      "properties": {
                        "code": {
                          "description": "The merchant id of your company starting with M.",
                          "type": "string",
                          "example": "M-1234-4321"
                        },
                        "name": {
                          "description": "The name of your merchant.",
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 2,
                          "example": "CompanyName"
                        },
                        "status": {
                          "description": "Merchant state",
                          "type": "string",
                          "example": "ACTIVE"
                        }
                      },
                      "type": "object",
                      "title": "MerchantMinimal",
                      "x-readme-ref-name": "MerchantMinimal"
                    },
                    "createdAt": {
                      "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": false
                    },
                    "createdBy": {
                      "description": "The reference to an account or token whom created the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": false
                    },
                    "modifiedAt": {
                      "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "modifiedBy": {
                      "description": "The reference to an account or token whom modified the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    },
                    "deletedAt": {
                      "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2016-06-04T08:15:00+01:00",
                      "nullable": true
                    },
                    "deletedBy": {
                      "description": "The reference to an account or token whom deleted the entity",
                      "type": "string",
                      "pattern": "^A(T)?(-\\d{4}){2}$",
                      "readOnly": true,
                      "example": "A-1234-4321",
                      "nullable": true
                    }
                  },
                  "type": "object",
                  "title": "AuthenticationToken",
                  "x-readme-ref-name": "AuthenticationToken"
                },
                "examples": {
                  "success": {
                    "summary": "Specific authentication token",
                    "value": {
                      "code": "AT-1234-1234",
                      "secret": "21349ebda24393453sdfdfad",
                      "name": "token1",
                      "merchant": {
                        "code": "M-1234-4321",
                        "status": "INACTIVE",
                        "name": "CompanyName"
                      },
                      "createdAt": "2021-09-04T12:14:01+02:00",
                      "createdBy": "A-1234-4321",
                      "modifiedAt": null,
                      "modifiedBy": null,
                      "deletedAt": null,
                      "deletedBy": null,
                      "_links": [
                        {
                          "url": "/authenticationtokens/AT-1234-1234",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Bad Request",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "authenticationTokenCode: {}",
                      "violations": [
                        {
                          "propertyPath": "authenticationTokenCode",
                          "message": "{}",
                          "code": "PAY-404"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "404": {
            "description": "Not found"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "422": {
            "description": "Unprocessable entity, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "validation": {
                    "summary": "Unprocessable",
                    "value": {
                      "type": "https://developer.pay.nl/docs/error-codes",
                      "title": "An error occurred",
                      "detail": "Authentication token recovery window expired",
                      "violations": [
                        {
                          "propertyPath": null,
                          "message": "Authentication token recovery window expired",
                          "code": "PAY-3000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/authorisationgroups": {
      "get": {
        "tags": [
          "AuthorisationGroups"
        ],
        "summary": "AuthorisationGroups",
        "description": "Get a list of all (public) authorisation groups. If your account has rights to create own groups we will also return the groups you have defined yourself",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "authorisationGroups": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Authorisation group identifier",
                            "type": "string",
                            "example": "AG-1234-4321"
                          },
                          "name": {
                            "description": "Name of the authorisation group",
                            "type": "string",
                            "example": "John Doe"
                          },
                          "description": {
                            "description": "Description of the authorisation group",
                            "type": "string",
                            "example": "John Doe of test company"
                          },
                          "purpose": {
                            "properties": {
                              "account": {
                                "type": "boolean",
                                "example": true
                              },
                              "token": {
                                "type": "boolean",
                                "example": true
                              },
                              "relation": {
                                "type": "boolean",
                                "example": true
                              },
                              "merchant": {
                                "type": "boolean",
                                "example": true
                              }
                            },
                            "type": "object"
                          },
                          "public": {
                            "description": "Indicate if the authorisation group is public",
                            "type": "boolean",
                            "example": true
                          },
                          "translations": {
                            "description": "Object containing all the translations with the property name in which the corresponds with a property on the object itself.",
                            "type": "object",
                            "uniqueItems": true,
                            "example": "\n    \"translations\": {\n      \"name\": {\n        ...\n      },\n      \"description\": {\n        ...\n      }\n    }\n",
                            "nullable": true,
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": false
                          },
                          "createdBy": {
                            "description": "The reference to an account or token whom created the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": false
                          },
                          "modifiedAt": {
                            "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "modifiedBy": {
                            "description": "The reference to an account or token whom modified the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": true
                          },
                          "deletedAt": {
                            "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "deletedBy": {
                            "description": "The reference to an account or token whom deleted the entity",
                            "type": "string",
                            "pattern": "^A(T)?(-\\d{4}){2}$",
                            "readOnly": true,
                            "example": "A-1234-4321",
                            "nullable": true
                          }
                        },
                        "type": "object",
                        "title": "Authorisationgroup",
                        "x-readme-ref-name": "Authorisationgroup"
                      }
                    },
                    "_links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "href",
                          "rel",
                          "type"
                        ],
                        "properties": {
                          "href": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "rel": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "type": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          }
                        },
                        "type": "object",
                        "title": "Link",
                        "x-readme-ref-name": "Link"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "success": {
                    "summary": "List all authorisation groups",
                    "value": {
                      "total": 1,
                      "authorisationGroups": [
                        {
                          "code": "AG-1234-4321",
                          "name": "Webshop developer",
                          "description": "Webshop developer",
                          "purpose": {
                            "account": true,
                            "token": false,
                            "relation": false,
                            "merchant": true
                          },
                          "public": true,
                          "translations": {
                            "description": {
                              "en_GB": "Webshop developer",
                              "it_IT": "Sviluppatore webshop",
                              "nl_NL": "Toevoegen en wijzigen van verkooplocaties, bekijken van transacties (zonder refunds) en bekijken van de payment state log en de ondersteuningsmodule. Inzicht in Tokens"
                            },
                            "name": {
                              "en_GB": "Webshop developer",
                              "it_IT": "Sviluppatore webshop",
                              "nl_NL": "Webbouwer"
                            }
                          },
                          "createdAt": "2014-03-21T10:56:04+01:00",
                          "createdBy": "A-1234-4321",
                          "modifiedAt": "2021-04-09T09:13:38+02:00",
                          "modifiedBy": "A-1234-4321",
                          "deletedAt": null,
                          "deletedBy": null
                        }
                      ],
                      "_links": [
                        {
                          "href": "/authorisationgroups",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/balance": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Balance:Dashboard",
        "description": "Gives an overview of the active balance of a merchant, including information about the next and the previous clearing. You can supply a merchant code. If you are a partner and you have access to that merchant code we will provide you the data. If no merchant code is provided your own balance information returned",
        "parameters": [
          {
            "name": "merchant",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The merchant id of your company starting with M.",
              "type": "string",
              "example": "M-1234-4321"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "required": [
                        "balance",
                        "invoices",
                        "costs",
                        "nextClearing",
                        "lastClearing"
                      ],
                      "properties": {
                        "balance": {
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "invoices": {
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "nullable": true
                        },
                        "costs": {
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "nullable": true
                        },
                        "availableBalance": {
                          "required": [
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "turnoverGroups": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "integer"
                                  },
                                  "currency": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            }
                          },
                          "type": "object",
                          "nullable": true
                        },
                        "nextClearing": {
                          "required": [
                            "state",
                            "date",
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "state": {
                              "type": "string"
                            },
                            "date": {
                              "type": "integer",
                              "format": "date",
                              "nullable": true
                            },
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "lastClearing": {
                          "required": [
                            "date",
                            "amount",
                            "currency"
                          ],
                          "properties": {
                            "date": {
                              "type": "integer",
                              "format": "date",
                              "nullable": true
                            },
                            "amount": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object",
                      "title": "Balance",
                      "x-readme-ref-name": "Balance"
                    },
                    {
                      "required": [
                        "_links"
                      ],
                      "properties": {
                        "_links": {
                          "type": "array",
                          "items": {
                            "required": [
                              "href",
                              "rel",
                              "type"
                            ],
                            "properties": {
                              "href": {
                                "description": "",
                                "type": "string",
                                "readOnly": true,
                                "example": "",
                                "nullable": false
                              },
                              "rel": {
                                "description": "",
                                "type": "string",
                                "readOnly": true,
                                "example": "",
                                "nullable": false
                              },
                              "type": {
                                "description": "",
                                "type": "string",
                                "readOnly": true,
                                "example": "",
                                "nullable": false
                              }
                            },
                            "type": "object",
                            "title": "Link",
                            "x-readme-ref-name": "Link"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Get merchant balance",
                    "value": {
                      "balance": {
                        "amount": 9134455,
                        "currency": "EUR"
                      },
                      "invoices": {
                        "amount": 9134455,
                        "currency": "EUR"
                      },
                      "costs": {
                        "amount": 9134455,
                        "currency": "EUR"
                      },
                      "availableBalance": {
                        "amount": 5681,
                        "currency": "EUR",
                        "turnoverGroups": [
                          {
                            "code": "CT-1234-4321",
                            "name": "Standaard",
                            "amount": 5681,
                            "currency": "EUR"
                          }
                        ]
                      },
                      "nextClearing": {
                        "state": "active",
                        "date": "2023-12-12",
                        "amount": 1234,
                        "currency": "EUR"
                      },
                      "lastClearing": {
                        "date": "2023-12-12",
                        "amount": 1234,
                        "currency": "EUR"
                      },
                      "_links": [
                        {
                          "url": "/balance",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/billinglinetypes": {
      "get": {
        "tags": [
          "Core Data"
        ],
        "summary": "BillingLineTypes",
        "description": "A Pay. invoice contains multiple billing lines which are grouped. This API returns all groups that we have available, including a description of the billing lines that can appear in that group",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "total",
                    "billingDataGroups",
                    "_links"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "billingDataGroups": {
                      "type": "array",
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "translations",
                          "billingLineTypes",
                          "createdAt",
                          "modifiedAt",
                          "deletedAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "translations": {
                            "description": "Object containing all the translations with the property name in which the corresponds with a property on the object itself.",
                            "type": "object",
                            "uniqueItems": true,
                            "example": "\n    \"translations\": {\n      \"name\": {\n        ...\n      },\n      \"description\": {\n        ...\n      }\n    }\n",
                            "nullable": true,
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "billingLineTypes": {
                            "type": "array",
                            "items": {
                              "required": [
                                "id",
                                "name",
                                "translations",
                                "createdAt",
                                "modifiedAt",
                                "deletedAt"
                              ],
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "translations": {
                                  "description": "Object containing all the translations with the property name in which the corresponds with a property on the object itself.",
                                  "type": "object",
                                  "uniqueItems": true,
                                  "example": "\n    \"translations\": {\n      \"name\": {\n        ...\n      },\n      \"description\": {\n        ...\n      }\n    }\n",
                                  "nullable": true,
                                  "additionalProperties": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "createdAt": {
                                  "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                                  "type": "string",
                                  "format": "date-time",
                                  "readOnly": true,
                                  "example": "2016-06-04T08:15:00+01:00",
                                  "nullable": false
                                },
                                "modifiedAt": {
                                  "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                                  "type": "string",
                                  "format": "date-time",
                                  "readOnly": true,
                                  "example": "2016-06-04T08:15:00+01:00",
                                  "nullable": true
                                },
                                "deletedAt": {
                                  "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                                  "type": "string",
                                  "format": "date-time",
                                  "readOnly": true,
                                  "example": "2016-06-04T08:15:00+01:00",
                                  "nullable": true
                                }
                              },
                              "type": "object",
                              "title": "LineType",
                              "x-readme-ref-name": "LineType"
                            }
                          },
                          "createdAt": {
                            "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": false
                          },
                          "modifiedAt": {
                            "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "deletedAt": {
                            "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          }
                        },
                        "type": "object",
                        "title": "BillingDataGroup",
                        "x-readme-ref-name": "BillingDataGroup"
                      }
                    },
                    "_links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "href",
                          "rel",
                          "type"
                        ],
                        "properties": {
                          "href": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "rel": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "type": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          }
                        },
                        "type": "object",
                        "title": "Link",
                        "x-readme-ref-name": "Link"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "success": {
                    "summary": "Get billing line types",
                    "value": {
                      "total": 1,
                      "billingDataGroups": [
                        {
                          "id": 1,
                          "name": "Subscription",
                          "translations": {
                            "name": {
                              "nl_NL": "Abonnementsfee",
                              "en_GB": "Subscription"
                            }
                          },
                          "billingLineTypes": [
                            {
                              "id": "1519",
                              "name": "Pioneer",
                              "translations": {
                                "name": {
                                  "nl_NL": "Pioneer",
                                  "en_GB": "Pioneer"
                                }
                              },
                              "createdAt": "2022-03-18T14:35:21+02:00",
                              "modifiedAt": "2022-03-18T15:24:52+02:00",
                              "deletedAt": null
                            }
                          ],
                          "createdAt": "2022-03-18T14:35:21+02:00",
                          "modifiedAt": "2022-03-18T15:24:52+02:00",
                          "deletedAt": null
                        }
                      ],
                      "_links": [
                        {
                          "url": "/billinglinetypes",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/billingunittypes": {
      "get": {
        "tags": [
          "Core Data"
        ],
        "summary": "BillingUnitTypes",
        "description": "A Pay. invoice contains multiple invoice lines, each invoice line can have his own unit (e.g. per quantity or per percentage). This API returns all units that are in use by Pay.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "total",
                    "billingUnitTypes",
                    "_links"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "billingUnitTypes": {
                      "type": "array",
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "createdAt",
                          "modifiedAt",
                          "deletedAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "description": "The creation date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": false
                          },
                          "modifiedAt": {
                            "description": "The modification date time presented in the correct ISO-8601 (a.k.a. ATOM) notation",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          },
                          "deletedAt": {
                            "description": "The deletion date time presented in the correct ISO-8601 (a.k.a. ATOM) notation. Can be empty (null)",
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2016-06-04T08:15:00+01:00",
                            "nullable": true
                          }
                        },
                        "type": "object",
                        "title": "BillingUnitType",
                        "x-readme-ref-name": "BillingUnitType"
                      }
                    },
                    "_links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "href",
                          "rel",
                          "type"
                        ],
                        "properties": {
                          "href": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "rel": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          },
                          "type": {
                            "description": "",
                            "type": "string",
                            "readOnly": true,
                            "example": "",
                            "nullable": false
                          }
                        },
                        "type": "object",
                        "title": "Link",
                        "x-readme-ref-name": "Link"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "success": {
                    "summary": "Get billing unit types",
                    "value": {
                      "total": 1,
                      "billingUnitTypes": [
                        {
                          "id": 1,
                          "name": "percentage",
                          "createdAt": "2022-03-18T14:35:21+02:00",
                          "modifiedAt": "2022-03-18T15:24:52+02:00",
                          "deletedAt": null
                        }
                      ],
                      "_links": [
                        {
                          "url": "/billingUnitTypes",
                          "rel": "self",
                          "type": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
          },
          "403": {
            "description": "Forbidden. Supplied credentials have no rights"
          },
          "405": {
            "description": "Used HTTP method is not allowed"
          },
          "406": {
            "description": "Not acceptable. The supplied content type in the accept parameter in the header is not supported"
          },
          "429": {
            "description": "Rate limit reached."
          },
          "500": {
            "description": "An internal error occurred"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/boarding/{merchantCode}/ready": {
      "patch": {
        "tags": [
          "Merchants"
        ],
        "summary": "Merchant:ToReview",
        "description": "When all documents for a merchant are delivered to Pay and the merchant data is ready to be reviewed by our boarding department you can call this endpoint to notify our boarding department to review your merchant. Note you need to have access to the merchant to call this endpoint",
        "parameters": [
          {
            "name": "merchantCode",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The merchant id of your company starting with M.",
              "type": "string",
              "example": "M-1234-4321"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Bad request, see response body for more information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "propertyPath": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "title": "Violation",
                        "x-readme-ref-name": "Violation"
                      }
                    }
                  },
                  "type": "object",
                  "title": "Error",
                  "x-readme-ref-name": "Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Supplied credentials are invalid"
[...]
